@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500;900&display=swap');

:root {
  --primary-color: #acdf87;
  --secondary-color: #76ba1b;
  --dark-secondary-color: #4c9a2a;
  --white-color: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
