@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500;900&display=swap');
/* 
:root {
  --primary-color: #56c6e5;
  --secondary-color: #3ea4b4;
  --dark-secondary-color: #2c93af;
  --white-color: #ebebeb;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
